.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.box label {
    margin-bottom: 10px;
}

.box input,.btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.btn{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41;
}
